* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5; 
}

header h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #52e4ce, #d393b4);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}


.navibar {
  display: flex;
  background-color: rgb(76, 138, 117);
  align-items: space-between;
  justify-content: space-between;

}

.menu { 
  height: 20%;
  background-color:  rgb(118, 126, 126);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.list {
  width: fit-content;
  display:inline-block;
  justify-items: flex-end;
  margin: 50px;
  height: 10px;
}

.page-footer {
 background-color: rgb(10, 10, 10);
}

.page-footer { 
  display:flex;
  align-items: center;
  justify-content:space-between;

}

.socials { 
  display:flex;
  align-items: center;
  justify-content:center;
}

.facebook, .instagram, .twitter, .linkedIn {
  width: 50px;
  margin: 5px;
}


/* Grid CSS */

#pageGrid {
  display: grid;
  min-height: 600px;
  height: 100vh;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-areas:
   "work work about"
   "work work about "
   "work work about"
   "work work about"
   "work work about"
   "cert cert cert";
}

#about {
  grid-area: about;
  background-color:#ffffff;
}

#work {
  grid-area: work;
  background-color: yellow;
  background-image: url(../images//2020-06-19\ 12.38.17.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#cert {
  grid-area: cert;
  background-color: rgb(152, 148, 163);

}

/* Content Grid CSS */

.box{
  display: inline-block;
  align-items: center;
  justify-items: center;
  color: black;
  background-image: url(../images/fouad-pic.png);
  background-size: 100% 100%;
  width: 90%;
  height: 100%;
  
}


.page-section-cert {
  display:flex;
  height: 150px;
  padding: 10px;
  align-items:center;
  justify-content: space-around;
}
.cert-logo {

  background-color: aquamarine;
  height: 100%;
  width: 100%;
  
}

#cert1 {
  
  background-image: url(../images/Microsoft-Cert.png);
  background-repeat: no-repeat;
  background-size: 80% 80%;
  margin: 10px;
  }
  
#cert2 {
 
      background-image: url(../images/ComptiA-logo.png);
      background-repeat: no-repeat;
      background-size: 80% 80%;
      margin: 10px;
    }
    
#cert3 {
      
        background-image: url(../images/Power-BI.png);
        background-repeat: no-repeat;
        background-size: 80% 80%;
        margin: 10px;
      }
#cert4 {
          background-image: url(../images/Linux-Comptia-Cert.png);
          background-repeat: no-repeat;
          background-size: 80% 80%;
          margin: 10px;
        }
 #cert5 {
          background-image: url(../images/BCS.png);
          background-repeat: no-repeat;
          background-size: 80% 80%;
          margin: 10px;
        }